<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Book</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>View Book</h1>
<div>
    <p><strong>ID:</strong> <span th:text="${book.id}"></span></p>
    <p><strong>Title:</strong> <span th:text="${book.title}"></span></p>
    <p><strong>Author:</strong> <span th:text="${book.author}"></span></p>
    <p><strong>Pages:</strong> <span th:text="${book.pages}"></span></p>
</div>
<a href="/book/get">Back to Book List</a>
</body>
</html>
